html
  font-size: 4px

html,body
  width: 100vw
  overflow-x: hidden
  overscroll-behavior: none
  min-height: var(--wh, 100vh)
  background: #92A5C4

img
  object-fit: cover
  pointer-events: none
  user-select: none

span
  font-size: inherit
  font-weight: inherit
  font-weight: inherit
  line-height: inherit
  letter-spacing: inherit
  display: inline-block


::selection
  background: #ffffff
  color: #92A5C4

.pc-only
  +sp-view
    display: none !important
.sp-only
  +pc-view
    display: none !important

.container
  height: var(--wh, 100vh)
  .container__back-blur
    +full-screen
    background: rgba(255, 255, 255, 0.15)
    position: fixed
    top: 0
    left: 0
    backdrop-filter: blur(10px)
    z-index: 0

.index
  overscroll-behavior: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: var(--wh, 100vh)
  overflow: hidden
  &>body
    @extend .index

.scrollbar-track
  background: transparent !important
  width: 1rem !important
  .scrollbar-thumb
    border-radius: 0px
    background: #ffffff
    transition: height .5s ease-in

.marquee-link
  width: 100vw
  height: 144px
  overflow-x: hidden
  display: block
  position: relative
  margin-top: 240px
  margin-bottom: 240px
  +sp-view
    height: 40px
    margin-top: 80px
    margin-bottom: 180px
  .marquee-link__wrap
    display: flex
    align-items: center
    position: absolute
    top: 0
    bottom: 0
    left: 0
    margin: auto
    animation: marquee-link 20s linear 0s infinite
    will-change: transform
  .marquee-link__wrap__text
    font-weight: 300
    font-size: 144px
    line-height: 100%
    margin-right: 240px
    +sp-view
      font-size: 40px
      letter-spacing: 4px
      margin-right: 56px

  @keyframes marquee-link
    to
      transform: translateX(0%)
    from
      transform: translateX(-50%)

.first__title-box__title, .first__title-box__text-item
  transform: translateY(110%)

.first
  +default-width(140px)
  height: var(--wh, 100vh)
  display: flex
  align-items: center
  position: relative
  +sp-view
    justify-content: center
  .first__title-box
    display: flex
    align-items: flex-start
    overflow: hidden
    padding: 2px 0
  .first__title-box__text
    font-size: 18px
    padding-right: 20px
    overflow: hidden
    +sp-view
      padding-right: 8px
      font-size: 10px
      letter-spacing: 0.4px
  .first__title-box__text-item
    display: block

  .first__title-box__title
    font-size: 6vw
    font-weight: 300
    line-height: 77%
    +sp-view
      font-size: 40px
      letter-spacing: 2px

.transition-screen
  +full-screen
  position: fixed
  z-index: 9
  background: #ffffff
  pointer-events: none
  top: 0
  left: 0
  transform: scaleY(0)
  will-change: transform
  transform-origin: bottom center

.scrollbar-track-x
  display: none !important
