html
  font-size: 4px

html,body
  width: 100vw
  overflow-x: hidden
  overscroll-behavior: none
  min-height: var(--wh, 100vh)

img
  object-fit: cover

// ::selection
//   background: #262626
//   color: #8ddf67

.pc-only
  +sp-view
    display: none !important
.sp-only
  +pc-view
    display: none !important

.container
  height: var(--wh, 100vh)

.index
  overscroll-behavior: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: var(--wh, 100vh)
  overflow: hidden
  &>body
    @extend .index

.scrollbar-track
  background: transparent !important
  width: 1rem !important
  .scrollbar-thumb
    border-radius: 0px
    background: #ffffff
    transition: height .5s ease-in
